// Bootstrap
// ---------------------------------------------------
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/mixins';


.btn-info {
    color: #fff;
    background-color: #8C9EFF;
    border-color: #8C9EFF;
    box-shadow: none;
}
